<section data-ng-controller="HomeController" data-ng-show="!authentication.user">
	<div>
		<h2>Grocery List App</h2>
		<p>Probably the best grocery app around!</p>
		<p>Click <a href="/#!/signup">Signup</a> to get started. If you already have an account you may 
		<a href="/#!/signin">Sign In</a>
	</div>
	<br>Enjoy!
</section>