<section ng-controller="GroceriesController">
<div class="page-header">
    <h2>New Grocery Item</h2>
</div>
<div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="item_name">Item name</label>
                    <div class="controls">
                        <input type="text" ng-model="item_name" id="item_name" class="form-control" placeholder="Item name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="quantity">Quantity</label>
                    <div class="controls">
                        <input type="text" ng-model="quantity" id="quantity" class="form-control" placeholder="Quantity">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
</div>
</section>