<section ng-controller="GroceriesController" ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Grocery Item</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="item_name">Item Name</label>
                    <div class="controls">
                        <input type="text" ng-model="grocery.item_name" id="item_name" class="form-control" placeholder="Item Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="quantity">Quantity</label>
                    <div class="controls">
                        <input type="text" ng-model="grocery.quantity" id="quantity" class="form-control" placeholder="Quantity">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>