<section ng-controller="GroceriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Grocery List</h1>
    </div>
    <div class="list-group">
        <a ng-repeat="grocery_item in groceries" ng-href="#!/groceries/{{grocery_item._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" ng-bind="grocery_item.item_name"></h4>
            <p>Quantity: <span ng-bind="grocery_item.quantity" class="label label-default"></span></p>
            <p>By: <span ng-bind="grocery_item.user.displayName"></span></p>

        </a>
    </div>
    <div class="alert alert-warning text-center" ng-hide="!groceries.$resolved || groceries.length">
        No groceries added yet <a href="/#!/groceries/create">create one</a>?
    </div>
</section>