<section ng-controller="GroceriesController" ng-init="findOne()">
    <div class="page-header">
        <h2 ng-bind="grocery.item_name"></h2>
        <p>Quantity: <span ng-bind="grocery.quantity" class="label label-default"></span></p>
        <p>By: <span ng-bind="grocery.user.displayName"></span></p>
    </div>
    <div class="pull-right" ng-show="((authentication.user) && (authentication.user._id == grocery.user._id))">
        <a class="btn btn-primary" href="/#!/groceries/{{grocery._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</section>